---
type Props = astroHTML.JSX.ButtonHTMLAttributes

const { class: className, ...props }: Props = Astro.props
---

<button
  class={`${className} border-[1px] p-2 rounded-xs bg-secondary hover:bg-primary transition-colors duration-200`}
  {...props}
>
  <slot />
</button>
