<section class="bg-secondary py-6 md:py-12">
  <div class="mx-auto 2xl:w-[60%] w-[90%]">
    <h2 class="leading-[1.1] text-xl lg:text-2xl font-semibold tracking-tight">
      Descubre más
    </h2>
    <p class="text-sm sm:text-lg mt-2 md:text-xl">
      Si te gusta lo que escribo, te invito a seguirme en mis redes sociales. Me
      gusta leer artículos sobre software y trato de participar en la comunidad,
      disfrutando del mundillo, sus debates internos y los memes.
    </p>
    <ul
      class="text-sm sm:text-lg md:text-xl mt-4 list-none flex flex-col gap-1"
    >
      <li>
        <a
          href="https://www.instagram.com/yeremi.rrios/"
          target="_blank"
          referrerpolicy="no-referrer"
          rel="noopener noreferrer nofollow"
          class="underline underline-offset-2 decoration-contrast text-black dark:text-white transition-opacity hover:opacity-60 duration-200 font-semibold decoration-2"
          >yeremi.rrios</a
        > en Instagram y en Threads.
      </li>
      <li>
        <a
          href="https://x.com/yeremi_rrios"
          target="_blank"
          referrerpolicy="no-referrer"
          rel="noopener noreferrer nofollow"
          class="underline underline-offset-2 decoration-contrast text-black dark:text-white transition-opacity hover:opacity-60 duration-200 font-semibold decoration-2"
          >yeremi_rrios</a
        > en X (Twitter).
      </li>
      <li>
        <a
          href="https://github.com/yarso-su"
          target="_blank"
          referrerpolicy="no-referrer"
          rel="noopener noreferrer nofollow"
          class="underline underline-offset-2 decoration-contrast text-black dark:text-white transition-opacity hover:opacity-60 duration-200 font-semibold decoration-2"
          >yarso-su</a
        > en GitHub.
      </li>
      <li lang="en" translate="no">
        <a
          href="https://yarso.dev"
          target="_blank"
          referrerpolicy="no-referrer"
          rel="noopener noreferrer nofollow"
          class="underline underline-offset-2 decoration-contrast text-black dark:text-white transition-opacity hover:opacity-60 duration-200 font-semibold decoration-2"
          >yarso.dev</a
        > (portfolio).
      </li>
    </ul>
    <p></p>
  </div>
</section>
<section class="bg-secondary pb-4 md:pb-6">
  <div class="mx-auto 2xl:w-[60%] w-[90%] border-t pt-6 md:pt-8">
    <h2 class="leading-[1.1] text-xl lg:text-2xl font-semibold tracking-tight">
      <span
        class="underline underline-offset-2 md:underline-offset-4 decoration-contrast md:decoration-3 text-black dark:text-white"
        >Rescursos</span
      >
      que recomiendo
    </h2>
    <p class="hidden mt-2 md:block text-xl">
      Recientemente descubrí que me gusta leer blogs técnicos sobre lo que estoy
      aprendiendo. Te comparto algunos de los recursos que considero
      entretenidos y bastante útiles si te gusta aprender (nunca es demasiado).
    </p>
    <p class="text-sm sm:text-lg mt-2 md:hidden">
      Recientemente descubrí que me gusta leer blogs técnicos sobre lo que estoy
      aprendiendo.
    </p>
    <p class="text-sm sm:text-lg mt-2 md:hidden">
      Te comparto algunos de los recursos que considero entretenidos y bastante
      útiles si te gusta aprender (nunca es demasiado).
    </p>
    <ul
      class="text-sm sm:text-lg md:text-xl mt-6 list-none flex flex-col gap-3 md:gap-4"
    >
      <li>
        <a
          href="https://philippflenker.com/articles/"
          target="_blank"
          referrerpolicy="no-referrer"
          rel="noopener noreferrer nofollow"
          class="underline-offset-2 hover:underline decoration-contrast text-black dark:text-white font-semibold"
        >
          philipp flenker.
        </a> Blog y artículos sobre software, y uno que otro sobre temas más generales.
      </li>
      <li>
        <a
          href="https://vorner.github.io/"
          target="_blank"
          referrerpolicy="no-referrer"
          rel="noopener noreferrer nofollow"
          class="underline-offset-2 hover:underline decoration-contrast text-black dark:text-white font-semibold"
        >
          Vorner's random stuff.
        </a> Artículos técnicos mayormente orientados a Rust y al rendimiento.
      </li>
      <li>
        <a
          href="https://burntsushi.net/"
          target="_blank"
          referrerpolicy="no-referrer"
          rel="noopener noreferrer nofollow"
          class="underline-offset-2 hover:underline decoration-contrast text-black dark:text-white font-semibold"
          >Andrew Gallant's Blog.</a
        > Otro blog técnico sobre Rust pero mas orientado al desarrollo de software
        de forma integral.
      </li>
      <li>
        <a
          href="https://corrode.dev/blog/"
          target="_blank"
          referrerpolicy="no-referrer"
          rel="noopener noreferrer nofollow"
          class="underline-offset-2 hover:underline decoration-contrast text-black dark:text-white font-semibold"
          >Corrode Blog.</a
        > Corrode es una agencia de consultoría sobre Rust; su blog está principalmente
        orientado a los desarrolladores que están interesados en aprender sobre el
        lenguaje.
      </li>
      <li>
        <a
          href="https://homepages.inf.ed.ac.uk/wadler/papers/marktoberdorf/baastad.pdf"
          target="_blank"
          referrerpolicy="no-referrer"
          rel="noopener noreferrer nofollow"
          class="underline-offset-2 hover:underline decoration-contrast text-black dark:text-white font-semibold"
          lang="en"
          translate="no">Monads for functional programming.</a
        > Un artículo de Philip Wadler sobre el patrón Monad en la programación funcional.
      </li>
      <li>
        <a
          href="https://homepages.inf.ed.ac.uk/wadler/papers/prettier/prettier.pdf"
          target="_blank"
          referrerpolicy="no-referrer"
          rel="noopener noreferrer nofollow"
          class="underline-offset-2 hover:underline decoration-contrast text-black dark:text-white font-semibold"
          lang="en"
          translate="no">A prettier printer.</a
        > Otro artículo de Philip Wadler pero sobre Prettier.
      </li>
      <li>
        <a
          href="https://bodil.lol/parser-combinators/"
          target="_blank"
          referrerpolicy="no-referrer"
          rel="noopener noreferrer nofollow"
          class="underline-offset-2 hover:underline decoration-contrast text-black dark:text-white font-semibold"
          lang="en"
          translate="no">Learning Parser Combinators With Rust.</a
        > Un artículo educativo de Bodil Stokke sobre el uso de parser combinators.
        Excelente introducción a la programación funcional y a los parsers.
      </li>
      <li>
        <a
          href="https://arxiv.org/pdf/1902.08318"
          target="_blank"
          referrerpolicy="no-referrer"
          rel="noopener noreferrer nofollow"
          class="underline-offset-2 hover:underline decoration-contrast text-black dark:text-white font-semibold"
          lang="en"
          translate="no">Parsing Gigabytes of JSON per Second.</a
        > Artículo de Geoff Langdale y Daniel sobre técnicas de parseo para conseguir
        un performance inigualable.
      </li>
      <li>
        <a
          href="https://tom.preston-werner.com/2010/08/23/readme-driven-development"
          target="_blank"
          referrerpolicy="no-referrer"
          rel="noopener noreferrer nofollow"
          class="underline-offset-2 hover:underline decoration-contrast text-black dark:text-white font-semibold"
          lang="en"
          translate="no"
        >
          Readme Driven Development.
        </a> Crítica de Tom Preston (Github Co-Founder) sobre las metodologías de
        desarrollo de software, la importancia de la documentación y la declaración
        de intenciones de un producto (bastante entretenido).
      </li>
    </ul>
    <p class="hidden sm:block mt-8 text-xl">
      Estos son algunos de los artículos que he leído y que considero me
      ayudaron a comprender muchas cosas relacionadas con el software. Es
      posible que me falten algunos (intentaré agregarlos cuando me sea posible)
      y quizás no haya agregado otros porque aún no los he explorado lo
      suficiente. Espero que a alguien le sean de utilidad.
    </p>
    <p class="text-sm sm:text-lg mt-6 md:hidden">
      Estos son algunos de los artículos que he leído y que considero me
      ayudaron a comprender muchas cosas relacionadas con el software.
    </p>
    <p class="text-sm sm:text-lg mt-3 md:hidden">
      Es posible que me falten algunos (intentaré agregarlos cuando me sea
      posible) y quizás no haya agregado otros porque aún no los he explorado lo
      suficiente. Espero que a alguien le sean de utilidad.
    </p>
  </div>
</section>
