---
import Link from './Link.astro'
import ToggleTheme from './ToggleTheme.astro'
import LibraryBig from '@lucide/astro/icons/library-big'

interface Props {
  main?: boolean
}

const { main = false } = Astro.props as Props
---

<header
  class="z-10 backdrop-blur-md h-12 lg:h-16 fixed top-0 w-full flex justify-between items-center border-b-[1px] lg:border-b-0"
>
  <div class="w-[90%] 2xl:w-[60%] mx-auto flex justify-between items-center">
    <a
      href="/"
      class="ml-1 lg:ml-0 text-sm md:text-lg"
      translate="no"
      lang="en"
    >
      <span>Blog. </span>
      <span class="text-contrast">Yarso</span>
    </a>
    <div class="inline-flex items-center gap-2">
      <ToggleTheme />
      {
        !main && (
          <Link href="/">
            <LibraryBig class="size-3 sm:size-4" />
          </Link>
        )
      }
    </div>
  </div>
</header>
