---
import { ThemeTogglerWrapper } from '@yarso/astro-theme-toggler'
import Link from './Link.astro'
import LibraryBig from '@lucide/astro/icons/library-big'
import User from '@lucide/astro/icons/user'
import Button from './Button.astro'
import Sun from '@lucide/astro/icons/sun'
import Moon from '@lucide/astro/icons/moon'

interface Props {
  main?: boolean
}

const { main = false } = Astro.props as Props
---

<header
  class="z-10 backdrop-blur-md h-12 lg:h-16 fixed top-0 w-full flex justify-between items-center border-b lg:border-b-0"
>
  <div class="w-[90%] 2xl:w-[60%] mx-auto flex justify-between items-center">
    <a
      href="/"
      class="ml-1 lg:ml-0 text-sm md:text-lg"
      translate="no"
      lang="en"
    >
      <span class="text-black dark:text-white">Yarso.</span>
      <span class="text-contrast">Blog</span>
    </a>
    <div class="inline-flex items-center gap-2">
      <ThemeTogglerWrapper>
        <Button aria-label="Alternar tema">
          <Sun class="size-3 sm:size-4" />
          <Moon class="size-3 sm:size-4" />
        </Button>
      </ThemeTogglerWrapper>
      <Link href="https://yarso.dev" target="_blank">
        <User class="size-3 sm:size-4" />
      </Link>
      {
        !main && (
          <Link href="/">
            <LibraryBig class="size-3 sm:size-4" />
          </Link>
        )
      }
    </div>
  </div>
</header>
