---
import Sun from '@lucide/astro/icons/sun'
import Moon from '@lucide/astro/icons/moon'
import Button from './Button.astro'
import { ThemeTogglerWrapper } from '@yarso/astro-theme-toggler'
---

<ThemeTogglerWrapper>
  <Button aria-label="Alternar tema">
    <Sun class="size-3 sm:size-4" />
    <Moon class="size-3 sm:size-4" />
  </Button>
</ThemeTogglerWrapper>
